*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centered{
    margin: 0 auto;
    text-align: center;
}

header.top-page{
    height: 700px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    position: relative;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    line-height: 2em;
    padding-top: 1.5em;
    
    
}

.link.logo-img{
    vertical-align: middle;
}

img{
    float: left;
    
    
}

.header{
    list-style: none;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    
}

header .last{
    float: right;
    background-color: white;
    color: black;
    padding-top: 0.1em;
    border-radius: 40%;

}